.wrapper {
  max-width: 1100px;
  padding: 2.8rem;
  background-color: var(--white-color);

  .content {
    .content__header {
      display: flex;
      justify-content: space-between;

      h2 {
        color: var(--blue-color-1);
      }
    }

    .content__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 4.2rem;
    }
  }
}
