@use "styles/mixins" as m;

.wrapper {
  padding: 2rem;
  background-color: var(--white-color);
  max-inline-size: 72rem;
}

.content-header {
  display: none;
}

.content-body-wrapper {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
}

.content-body {
  max-inline-size: 100%;
  min-inline-size: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: m.bp("lg")) {
  .content-body {
    min-inline-size: 32rem;
    max-inline-size: 32rem;
  }

  .content-header {
    display: flex;
    justify-content: space-between;

    h2 {
      color: var(--blue-color-1);
    }
  }
}

@media screen and (min-width: m.bp("lg")) and (max-width: m.bp("xl")) {
  .content-body {
    min-inline-size: 48%;
    max-inline-size: 48%;
  }
}

@media screen and (min-width: m.bp("xl")) {
  .wrapper {
    padding: 2.8rem;
  }
}

@media screen and (min-width: m.bp("xxl")) {
  .wrapper {
    max-inline-size: 100%;

    .content-body {
      min-inline-size: calc((100% / 3) - 1.5rem);
      max-inline-size: calc((100% / 3) - 1.5rem);
    }
  }
}
