@use "styles/mixins" as m;

.wrapper {
  padding: 2rem;
  background-color: var(--white-color);
}

.content-header {
  display: none;
}

.content-body-wrapper {
  display: grid;
}

.content-body {
  display: grid;
  gap: 2.8rem;
  grid-template-rows: minmax(15rem, auto);
  align-self: start;
}

@media screen and (min-width: m.bp("lg")) {
  .content-body-wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
  }

  .content-header {
    display: grid;
    grid-template-columns: 1fr auto;

    h2 {
      color: var(--blue-color-1);
    }
  }
}

@media screen and (min-width: m.bp("xl")) {
  .wrapper {
    padding: 2.8rem;
  }

  .content-body-wrapper {
    gap: 4rem;
  }
}

@media screen and (min-width: m.bp("xxl")) {
  .content-body-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
