@use "styles/mixins" as m;

.wrapper {
  margin-left: 2.2%;
  min-width: var(--small-column-dekstop-width);

  h2 {
    margin-bottom: 1rem;
    color: var(--blue-color-1);
  }

  & > div:not(:last-of-type) {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: m.bp("sm")) {
  .wrapper {
    padding: 2rem 0;
    margin: 0;
  }
}
