@use "styles/mixins" as m;

.wrapper {
  inline-size: var(--small-column-desktop-width);

  h2 {
    margin-block-end: 1rem;
    color: var(--blue-color-1);
  }

  & > div:not(:last-of-type) {
    margin-block-end: 2.5rem;
  }
}
