@use "styles/mixins" as m;

.wrapper {
  min-width: var(--small-column-desktop-width);
  margin-block-start: 2rem;
  transform: none;

  h2 {
    margin-block-end: 1rem;
    color: var(--blue-color-1);
  }

  & > div:not(:last-of-type) {
    margin-block-end: 2.5rem;
  }
}

@media screen and (min-width: m.bp("sm")) {
  .wrapper {
    padding: 0;
    margin: 0 1rem;
    transform: translateX(calc(var(--math) * 2rem));
  }
}
