@use "styles/mixins" as m;

.card {
  margin-bottom: 0.2rem;
  display: flex;
  background-color: var(--white-color);
  border-radius: 0 0.6rem 0.6rem 0;

  .content {
    padding: 0.65rem 1.2rem;

    h3 {
      color: var(--blue-color-3);
      @include m.font($fs: 1.6rem, $fw: 700);
    }

    .info-wrapper {
      display: flex;
    }

    .info {
      display: flex;

      &:first-of-type {
        margin-right: 0.8rem;
      }
    }

    .rating {
      margin-right: 0.4rem;

      svg {
        width: 3.1rem;
        height: 3.1rem;
      }
    }

    .info-descr {
      div:nth-child(1) {
        @include m.font($fs: 2.1rem, $fw: 700);
        color: var(--blue-color-3);
      }

      div:nth-child(2) {
        @include m.font($fs: 1rem, $fw: 600);
        color: var(--blue-color-1);
      }
    }
  }
}
