.card {
  margin-bottom: 0.2rem;
  display: flex;
  background-color: var(--white-color);
  border-radius: 0 0.6rem 0.6rem 0;

  .content {
    padding: 0.65rem 1.2rem;

    h3 {
      color: var(--blue-color-3);
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1;
    }

    .info-wrapper {
      display: flex;
    }

    .info {
      display: flex;

      &:first-of-type {
        margin-right: 0.8rem;
      }
    }

    .rating {
      margin-right: 0.4rem;

      svg {
        width: 3.1rem;
        height: 3.1rem;
      }
    }

    .info-descr {
      div:nth-child(1) {
        font-size: 2.1rem;
        font-weight: 700;
        line-height: 1;
        color: var(--blue-color-3);
      }

      div:nth-child(2) {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1;
        color: var(--blue-color-1);
      }
    }
  }
}
