@use "styles/mixins" as m;

.header,
.footer {
  min-block-size: 5rem;
  background-color: var(--grey-color-1);
}

.main {
  background-color: var(--gray-light);
}

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  inline-size: 100%;
}

@media screen and (min-width: m.bp("xxxl")) {
  .container {
    max-inline-size: 144rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: m.bp("md")) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: m.bp("xs")) {
  .main {
    padding: 0;
  }
}
