@use "styles/mixins" as m;

.header,
.footer {
  min-block-size: 5rem;
  background-color: var(--bs-gray-500);
}

.main {
  background-color: var(--gray-light);
  padding: 3rem 0;
}

.container {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "content"
    "side-bar";
}

.content {
  grid-area: content;
}

.side-bar {
  grid-area: side-bar;
  justify-self: center;
}

@media screen and (min-width: m.bp("md")) {
  .container {
    grid-template-areas: "content side-bar";
  }
}
