@use "styles/mixins" as m;

.container {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  background-color: var(--gray-light);
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: m.bp("md")) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: m.bp("xs")) {
  .container {
    padding: 0;
  }
}
