@use "styles/mixins" as m;

.wrapper {
  margin-block-end: 4%;

  h1 {
    margin-block-end: 1.8%;
    color: var(--blue-color-1);
  }

  .content {
    display: flex;
    align-items: center;

    .img-wrapper {
      display: flex;
      justify-content: center;
      min-inline-size: 20rem;
      max-inline-size: 14rem;
    }

    .descr {
      margin: 2.2rem 0;
      font-size: 2rem;
      font-weight: 400;
      line-height: 2.4rem;
    }
  }
}

@media screen and (max-width: m.bp("lg")) {
  .wrapper {
    .content {
      display: none;
    }
  }
}
