@use "styles/mixins" as m;

// .title {
//   @include m.font($fs: 72px, $fw: 700, $lh: 16px);
// }

h2.title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.1;
}

h3.title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
}
