@use "styles/mixins" as m;

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  margin: 0;
  padding: 0;
}

h1.title {
  @include m.fluid-type(m.bp("xs"), m.bp("xxxl"), 32px, 42px);
  font-weight: 700;
  line-height: 1.2;
}

h2.title {
  @include m.font($fs: 2.8rem, $fw: 700, $lh: 1.2);
}

h3.title {
  @include m.font($fs: 1.8rem, $fw: 600, $lh: 1.2);
}
