@use "styles/mixins" as m;

.wrapper {
  position: relative;
  margin-block-start: 2.8rem;
  // padding-block-end: 1rem;
  border-block-end: 1px solid var(--blue-color-2);
  min-block-size: 15rem;
  // max-block-size: 15rem;

  &.show-content {
    // max-block-size: 50rem;
  }

  .description {
    @include m.font(1.6rem, 400, 1.2);
    // display: block;

    &.show {
      color: red;
    }
    &.collapse:not(.show) {
      color: red;
      display: block;
      max-height: 2rem;
    }

    // transition: max-block-size 0.5s ease-in;
    // overflow: hidden;

    &.hide {
      max-block-size: 8.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    &.show {
      max-block-size: 50rem;
    }
  }

  .header-wrapper {
    display: flex;
  }

  .header-icon {
    display: block;
    margin: 0 0.4rem;
    transform: translateX(calc(var(--math) * -0.4rem));
    inline-size: 2.8rem;
    min-inline-size: 2.8rem;
    block-size: 2.8rem;
  }

  h3 {
    margin-block-end: 0.8rem;
    color: var(--blue-color-2);
  }

  button {
    cursor: pointer;
    @include m.clear-btn;

    .btn-icon {
      position: absolute;
      inset-block-end: 0;
      inset-inline-end: 1.8rem;
      transform: translateY(50%);
      display: block;
      inline-size: 2.5rem;
      min-inline-size: 2.5rem;
      block-size: 2.5rem;
    }
  }
}

@media screen and (max-width: m.bp("lg")) {
  .wrapper {
    min-block-size: 16rem;
    max-block-size: 16rem;

    .description.hide {
      min-block-size: 10rem;
      max-block-size: 10rem;
      -webkit-line-clamp: 5;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: m.bp("sm")) {
  .wrapper {
    min-block-size: 16rem;
    max-block-size: 16rem;
  }
}
