@use "styles/mixins" as m;

.wrapper {
  position: relative;
  margin-top: 2.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--blue-color-2);
  min-height: 15rem;
  max-height: 15rem;

  &.show-content {
    max-height: 50rem;
  }

  p {
    transition: max-height 0.5s ease-in;
    overflow: hidden;
  }

  p.hide {
    max-height: 8.5rem;
  }

  p.show {
    max-height: 50rem;
  }

  .header-wrapper {
    display: flex;
  }

  .header-icon {
    display: block;
    margin-right: 8px;
    width: 28px;
    min-width: 28px;
    height: 28px;
  }

  h3 {
    margin-bottom: 8px;
    color: var(--blue-color-2);
  }

  p {
    @include m.font(1.6rem, 400, 1.2);
  }

  button {
    cursor: pointer;
    @include m.clear-btn;

    .btn-icon {
      position: absolute;
      bottom: 0;
      right: 1.8rem;
      transform: translateY(50%);

      display: block;
      width: 25px;
      min-width: 25px;
      height: 25px;
    }
  }
}

@media screen and (min-width: m.bp("lg")) and (max-width: m.bp("xl")) {
  .wrapper {
    p.hide {
      min-height: 11rem;
      max-height: 11rem;
    }
  }
}

@media screen and (max-width: m.bp("lg")) {
  .wrapper {
    min-height: 15rem;
    max-height: 15rem;

    p.hide {
      min-height: 11rem;
      max-height: 11rem;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: m.bp("sm")) and (max-width: m.bp("md")) {
  .wrapper {
    min-height: 10rem;
    max-height: 10rem;
  }
}

@media screen and (max-width: m.bp("sm")) {
  .wrapper {
    min-height: 16rem;
    max-height: 16rem;
  }
}
