@use "styles/mixins" as m;

.wrapper {
  position: relative;
  margin-top: 2.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--blue-color-2);
  min-height: 15rem;

  .header-wrapper {
    display: flex;
  }

  .header-icon {
    display: block;
    margin-right: 8px;
    width: 28px;
    min-width: 28px;
    height: 28px;
  }

  h3 {
    margin-bottom: 8px;
    color: var(--blue-color-2);
  }

  p {
    @include m.font(1.6rem, 400, 1.2);
  }

  button {
    cursor: pointer;
    @include m.clear-btn;

    .btn-icon {
      position: absolute;
      bottom: 0;
      right: 1.8rem;
      transform: translateY(50%);

      display: block;
      width: 25px;
      min-width: 25px;
      height: 25px;
    }
  }
}
