@use "styles/mixins" as m;

.card {
  display: flex;
  background-color: var(--white-color);
  border-radius: 0 0.6rem 0.6rem 0;

  &:not(:last-of-type) {
    margin-bottom: 0.2rem;
  }

  .card__content {
    position: relative;
    padding: 0 3.3rem 0 3.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .exclusive {
      position: absolute;
      left: -1.4rem;
      top: 0;
    }

    div {
      color: var(--blue-color-3);

      span:nth-of-type(1) {
        @include m.font($fs: 1.4rem, $fw: 400);
      }

      span:nth-of-type(2) {
        @include m.font($fs: 2.4rem, $fw: 600);
      }
    }

    div:nth-of-type(2) {
      @include m.font($fs: 1.6rem, $fw: 600, $lh: 1.2);
    }

    .btn__icon {
      position: absolute;
      right: 1.2rem;
      top: 50%;
      width: 0.4rem;
      height: 2rem;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
