@use "styles/mixins" as m;

.card {
  display: flex;
  background-color: var(--white-color);
  border-radius: 0 0.6rem 0.6rem 0;

  &:not(:last-of-type) {
    margin-bottom: 0.2rem;
  }

  .card__content {
    position: relative;
    padding: 0 3.3rem 0 3.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .exclusive {
      position: absolute;
      top: 1rem;
      left: calc(50% - 4rem);
      transform: translateX(calc(-8.3rem * var(--math)))
        rotate(calc(var(--math) * -45deg));
    }

    div {
      color: var(--blue-color-3);

      span:nth-of-type(1) {
        @include m.font($fs: 1.4rem, $fw: 400);
      }

      span:nth-of-type(2) {
        @include m.font($fs: 2.4rem, $fw: 600);
      }
    }

    div:nth-of-type(2) {
      @include m.font($fs: 1.6rem, $fw: 600, $lh: 1.2);
    }

    .btn__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0.4rem;
      height: 2rem;
      transform: translate(calc(9.5rem * var(--math)), -50%);
      cursor: pointer;
    }
  }
}
