@use "styles/mixins" as m;

.card {
  display: grid;
  grid-template-columns: 8rem auto;
  background-color: var(--white-color);
  border-radius: 0 0.6rem 0.6rem 0;

  &:not(:last-of-type) {
    margin-block-end: 0.2rem;
  }

  .card-content {
    position: relative;
    padding: 1rem 4rem;
    display: grid;
    justify-items: center;

    .exclusive {
      position: absolute;
      inset-block-start: 1rem;
      inset-inline-start: -1.6rem;
      transform: rotate(calc(var(--math) * -47deg));
    }

    div {
      color: var(--blue-color-3);

      span:nth-of-type(1) {
        @include m.font($fs: 1.4rem, $fw: 400);
      }

      span:nth-of-type(2) {
        @include m.font($fs: 2.4rem, $fw: 600);
      }
    }

    div:nth-of-type(2) {
      @include m.font($fs: 1.6rem, $fw: 600, $lh: 1.2);
    }

    .btn-icon {
      position: absolute;
      inset-inline-start: 50%;
      inset-block-start: 50%;
      inline-size: 0.4rem;
      block-size: 2rem;
      transform: translate(calc(9.5rem * var(--math)), -50%);
      cursor: pointer;
    }
  }
}
