@use "styles/mixins" as m;

.form {
  input {
    padding: 0.7rem;
    border: 0.1rem solid var(--blue-color-2);
    border-radius: 0.6rem;
    color: var(--blue-color-2);
    transition: border 0.3s linear;
    @include m.font($fs: 1.4rem, $fw: 400, $lh: 1.2);

    &::placeholder {
      color: var(--blue-color-2);
    }

    &:hover,
    &:focus {
      border: 0.1rem solid var(--blue-color-1);
    }
  }
}
