@use "variables";
@use "mixins" as m;
@use "custom/collapse.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

// Css Vars
:root {
  --math: 1;
  //Colors Start
  --white-color: white;
  --black-color: black;
  // Colors End
  --header-height: 72px;
  --small-column-desktop-width: 302px;
  --header-offset: 30px;
  //colors
  //blue-colors
  --blue-color-1: #2a577e;
  --blue-color-2: #0460a9;
  --blue-color-3: #12395d;
  //gray-colors
  --gray-light: #f5f5f5;

  .admin-bar {
    --header-offset: 32px;
  }
  .cbn {
    --blue-shaddow: 0px 6px 20px 0px #0460a92e;
    --reg-shaddow: 2px 4px 5px 0px #00000033;
  }
}

html[dir="rtl"] {
  --math: -1;
}

.highlight {
  color: var(--white-color-3);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}
